<!doctype html>
<html>
    <head>
        <script src="resources/angular.js"></script>
        <script src="resources/acorn.js"></script>
        <script src="resources/walk.js"></script>
        <script src="api.js"></script>
        <script src="demo.js"></script>

        <link rel="stylesheet" type="text/css" href="demo.css"></link>
        
        <title>Demo</title>
    </head>

    <body ng-app="" ng-controller="ctrl" id="ng-app">
        <h1 class="center">js-testing-api demo page</h1>
        <h3 class="center">
            <a href="http://github.com/lilyseropian/js-testing-api">
                github.com/lilyseropian/js-testing-api
            </a>
        </h3>

        <p class="center">This page can be used to live test the "checker" testing API provided in api.js. The Whitelist and Blacklist input boxes both take comma-separated lists or a single word. The Structure input box takes a valid JSON object or a single word. See the documentation in api.js for more details. If the code in the textarea fails any of the tests, error messages will be shown at the bottom of the page.</p>

        <div class="center">
            <div>
                <span class="label">Whitelist:</span>
                <input ng-list ng-model="whitelist"></input>
            </div>
            <div>
                <span class="label">Blacklist:</span>
                <input ng-list ng-model="blacklist"></input>
            </div>
            <div>
                <span class="label">Structure:</span>
                <input ng-model="structure"></input>
            </div>

            <textarea id="code-editor" rows="15" cols="100" ng-model="code"></textarea>
        </div>

        <div id="error-container">Errors:
            <div class="error-message" ng-repeat="item in check()">
                <span>- </span>
                <span ng-bind="item"></span>
            </div>
        </div>
    </body>
</html>